{{#if siteSettings.custom_banner_enabled}}
<section class="category-custom-banner">
  <h3>Banner Customizado</h3>
  <p class="description">Faça upload do banner que deverá aparecer no topo da
    categoria para todos.</p>

  <div class="control-group">
    <UppyImageUploader @imageUrl={{this.category.banner_url}} @onUploadDone={{action "uploadBanner" }} @type="banner"
      @id="category-banner-uploader" @acceptedFileTypes=".jpg,.jpeg,.png" @maxFileSize={{5242880}} />
  </div>

  <div class="control-group">
    <label>Descrição do Banner</label>
    <p class="description">Texto explicativo que aparecerá abaixo do banner da categoria.</p>
    <DEditor @value={{this.category.custom_fields.banner_description}} @onChange={{this.updateBannerDescription}}
      class="input-large" />
  </div>
</section>
{{/if}}